body{
	margin: 0;
	background-color: #232323;
	font-family: 'Roboto', sans-serif;
}

h1{
	color: white;
	text-align: center;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
}

#colorDisplay{
	font-size: 200%	;
}

.selected{
	background: steelblue;
	color: white;
}

.box{
	background: blue;
	float: left;
	width: 30%;
	padding-bottom: 30%;
	margin: 1.66%;
	border-radius: 50%;
	transition: background 1.00s;
	-moz-transition: background 1.00s;
	-webkit-transition: background 1.00s;
}

#grouper{
	margin: 15px auto;
	max-width: 800px;
}

#line{
	background: white;
	height:30px;
	text-align: center;
	color: black;
	margin: none;
}

#prompt{
	display: inline-block;
	width: 20%;
}
button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 1.00s;
	-moz-transition: all 1.00s;
	-webkit-transition: all 1.00s;
	outline: none;
}

button:hover{
	background: steelblue;
	color: white;
}