body{
	background-color: #232323;
}

h1{
	color: white;
}

span{
	color: white;
}

.box{
	background: blue;
	float: left;
	width: 30%;
	padding-bottom: 30%;
	margin: 1.66%;
}

#grouper{
	margin: 0 auto;
	max-width: 800px;
}